@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

body {
  margin: 0px;
  
  background-color: #0b0014;
  color: white;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

}

/* General Configurations */
* {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

hr {
  width: 400px;
}

/* Navbar Estilization */

nav {
  background-image: linear-gradient(to right, #aec446, #dcf469);
  padding: 10px;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-width: 0px 0px 10px 0px;
  border-color: rgb(35, 212, 35);
  border-style: solid;
  height: 80px;

  & h3 {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 30px;
    cursor: pointer;
    font-size: 24px;

    & a {
      color: #3c660e;
    }
  }

  & input,
  button {
    height: 60px;
    margin-top: 10px;
    margin-left: 0px;
  }

  & #searchbar {
    padding: 10px;
    font-size: larger;
    border-radius: 15px 5px 5px 15px;
    border-color: #b3ff10;
    width: 990px;
  }

  #searchbar::placeholder {
    color: #2c4a0b;
  }

  & #searchBtn {
    border-radius: 9px;
    background-color: #68bf0b;
    width: 90px;
    border-left: -390px;
    border-color: #849e04;
    box-shadow: #849e04;
  }
}

#closeButton {
  margin-left: 20px;
}

/* Left size Estilization */
#counter {
  position: fixed;
  z-index: 10;
  font-size: 26px;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 15px;
}

.rand {
  width: 320px;
  z-index: 10;
  position: fixed;
  margin-top: 330px;
}

/* Main Page Estilization */

#aviso {
  width: 700px;
  margin-top: 200px;
  margin-left: 210px;

  text-align: center;
}

#warning-link {
  color: rgb(56, 255, 56);
  text-decoration: underline;
  cursor: pointer;
}

#warning-link:hover {
  cursor: pointer;
}

#topics-counter {
  font-size: 27px;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 900;
  color: #aac525;
  text-shadow: 1px 1px #6a953b;
}

/* Container and posts estilization */
#container {
  background-color: #5f5f5f55;
  color: #000;
  margin-left: auto;

  padding: 20px;
  width: 75vw;
  min-height: 100vh;
  height: auto;
  border-width: 0px 8px 0px 8px;
  border-color: rgb(35, 212, 35);
  border-style: solid;
  overflow-y: visible; /* scroll controlado pelo body */
  /* position: relative; */
}

#container::-webkit-scrollbar {
  width: 10px;
}

/* ESTILIZAÇÃO DO POST */

#post {
  width: 800px;
  margin: auto;
  margin-bottom: 20px;
  background-color: #aec446;
  padding: 10px;
  border-width: 3px 7px 9px 3px;
  border-radius: 7px;
  border-color: rgb(30, 73, 5);
  border-style: solid;
}

#topic-title {
  font-size: 35px;
  color: #202020;
}

#thread-title::placeholder,
#edit-title::placeholder,
textarea::placeholder {
  color: #077010;
}

#topic-prev {
  font-size: 25px;
  color: #202020;
}

/*Página Create :*/
#thread-title,
#edit-title {
  width: 700px;

  padding: 15px;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 20px;
  color: rgb(22, 87, 4);
  background-color: #6eb91e;
}

textarea {
  width: 700px;
  height: 200px;
  display: flex;
  padding: 15px;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 20px;
  color: rgb(22, 87, 4);
  background-color: #6eb91e;
}

#postBtn {
  margin-top: 10px;
  margin-left: 700px;
  width: 60px;
  height: 30px;
  background-color: rgb(26, 132, 7);
  color: white;
  border-radius: 6px;
  padding: 5px;
}

/*Página View: */

#topic-content {
  font-size: 30px;
  text-align: center;
  width: 900px;
  margin: auto;
  color: #90d14b;
}

#todo {
  float: right;
  position: fixed;
  display: flex;
  justify-content: end;
}
