@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  margin: 0px;
  padding: 0px;

  background-color: #0b0014;
  color: white;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/* Configurações Gerais */
* {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

hr {
  width: 400px;
  color: #077010;
}

#backPageBtn {
  margin: auto;
  & button {
    width: 120px;
    background-color: #0b0014;
    color: #0bf10b;
    border-color: #0bf10b;
    & h3 {
      margin: auto;
    }
  }
}

/* Estilação da Navbar*/

nav {
  background-image: linear-gradient(to right, #afc446, #ddf469);
  padding: 7px 35px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-width: 0px 0px 10px 0px;
  border-color: rgb(35, 212, 35);
  border-style: solid;

  height: 80px;

  & #greetings {
    color: #0b0014;
    font-size: 30px;
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0.288);
    padding: 3px;
  }

  & input,
  button {
    height: 60px;
    margin-top: 10px;
  }

  & #searchbar {
    padding: 10px;
    font-size: larger;
    border-radius: 15px 7px 7px 15px;
    border-width: 3px;
    border-style: solid;
    border-color: #b3ff10;
    width: 600px;
    background-color: #13293d;
    color: #aec446;
    margin: auto;
  }

  #searchbar:focus {
    outline: none;
  }

  #searchbar::placeholder {
    color: #aec446;
  }

  & #searchBtn {
    border-radius: 9px;
    background-color: #13293d;
    width: 90px;
    border-left: -390px;
    border-color: #cbeb2e;
    box-shadow: #bddf13;
    font-size: 25px;
    color: #aec446;
  }

  & #pfp {
    margin-top: 5px;
    width: 60px;
    border-radius: 30%;
    background-color: #13293d;
    border-color: #0bf10b;
    border-style: solid;
    border-width: 3px;
  }
}

#info {
  position: fixed;
  z-index: 10;
  font-size: 26px;
  font-weight: 700;
  margin-left: 10px;
  margin-top: 10px;
  padding: 20px;
  color: #202020;
  background-color: #aec446;
  border: 5px solid rgb(60, 151, 7);
  border-radius: 10px;
}

#topics-counter,
#xp-counter {
  font-size: 27px;
  font-weight: 900;
  color: #6b7f06;
  text-shadow: 2px 1px #6a953b;
}

/* Main Page Estilization */

/* AVISO \/  */
#aviso {
  width: 700px;
  margin: auto;
  margin-top: 160px;
  font-size: 35px;
  text-align: center;
  text-shadow: 2px 2px 4px #6ec40d;
  color: #0bf10b;
}

#warning-link {
  color: rgb(56, 255, 56);
  text-decoration: underline;
  cursor: pointer;
  transition: 1s;
}

#warning-link:hover {
  cursor: pointer;
  font-size: 37px;
  transition: 1s;
}
/* AVISO /\ */

/* Container and posts estilization */
#container {
  color: #000;
  padding: 30px;
  width: 100vw;
  height: 110vh;
  overflow-y: scroll;
  transition: padding 0.25s ease;
}

#container.scrolled {
  padding-bottom: 100px;
  margin-bottom: 30px;
}

#container::-webkit-scrollbar {
  width: 10px;
}

/* ESTILIZAÇÃO DO POST */

#post {
  width: 800px;

  margin: auto;
  margin-bottom: 20px;
  background-color: #aec446;
  padding: 5px;
  border-width: 5px;
  border-radius: 7px;
  border-color: rgb(60, 151, 7);
  border-style: solid;
  color: #202020;
}

#topic-title {
  font-size: 35px;
  color: #202020;
}

#thread-title::placeholder,
#edit-title::placeholder,
textarea::placeholder {
  color: #077010;
}

#topic-prev {
  font-size: 25px;
  color: #202020;
}

/*Página Create :*/
#thread-title,
#edit-title {
  width: 700px;
  padding: 15px;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 20px;
  color: rgb(22, 87, 4);
  background-color: #90d14b;
  border: 5px solid #6ec40d;
}

textarea {
  width: 700px;
  height: 180px;
  display: flex;
  padding: 15px;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 20px;
  color: rgb(22, 87, 4);
  background-color: #90d14b;
  border: 5px solid #6ec40d;
}

textarea::-webkit-scrollbar {
  background-color: #6ec40d;
  width: 10px;
  border-radius: 10px;
}

#postBtn {
  margin-left: 670px;
  width: 90px;
  height: 50px;
  padding: 5px;
}

/*Página View: */

#topic-content {
  font-size: 30px;
  line-height: 1.6;
  width: 900px;
  margin: auto;
  color: #e5e7eb;
  font-family: "Inter", sans-serif;
}

#todo {
  float: right;
  position: fixed;
  display: flex;
  justify-content: end;
}

/* Página de Perfil */
#frogIcon {
  width: 205px;
  margin: auto;
}

#topics-status {
  background-color: rgba(240, 248, 255, 0.288);
  padding: 3px;
  border-radius: 5px;
  width: 300px;
  margin: auto;
  color: #202020;
}

#hero {
  background-color: #90d14b;
  color: #202020;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  border-radius: 20px;
  border: 5px solid rgb(79, 136, 5);
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#userInfo {
  margin: auto;
  background-color: #07da19af;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid #6b7f06;
}

#nameInput {
  height: 45px;
  color: #202020;
  font-size: larger;
  background-color: #89e36d;
  border: 3px solid rgb(35, 124, 18);
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em rgb(4, 30, 1);
  cursor: pointer;
}
/* TESTESS:::  */
