@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

* {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

body {
  margin: 0px;
  overflow: hidden;
  background-color: #040500;
  color: white;
}

nav {
  background-color: #aec446;
  padding: 10px;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  border-width: 0px 0px 10px 0px;
  border-color: rgb(35, 212, 35);
  border-style: solid;
  height: 80px;

  & h1 {
    font-size: 30px;

    & a {
      color: #3c660e;
    }
  }

  & h3 {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 30px;
    cursor: pointer;
    font-size: 24px;

    & a {
      color: #3c660e;
    }
  }

  & input,
  button {
    height: 60px;
    margin-top: 20px;
  }

  & #searchbar {
    margin-left:720px;
    padding: 10px;
    font-size: larger;
    border-radius: 5px 0px 0px 15px;
    border: 4px 4px 0px 34px;
    border-color: #000;
    width: 290px;
    border: 2px;
  }

  #searchbar::placeholder {
    color: #2c4a0b;
  }

  & #searchBtn {
    border-radius: 0px 9px 9px 0px;
    background-color: #6a953c;
    width: 60px;
    border: 0px;
    border-color: #000;
  }
}

#closeButton{
  margin-left: 20px;
}

#counter {
  margin-top: 400px;
  position: fixed;
  z-index: 10;
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
  margin-top: 20px;
}

.rand{
  width: 350px;
  z-index: 10;
  position: fixed;
  margin-top: 30px;
}

#warning-link{
  color: rgb(56, 255, 56);
  text-decoration: underline;
  cursor: pointer; 
}

#warning-link:hover{
  cursor: pointer;
}

#topics-counter {
  font-size: 27px;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 900;
  color: #aac525;
  text-shadow: 1px 1px #6a953b;
}

#container {
  background-color: #5f5f5f55;
  color: #000;
  margin: auto;
  padding: 10px;
  width: 800px;
  height: 760px;
  border-width: 0px 8px 0px 8px;
  border-color: rgb(35, 212, 35);
  border-style: solid;
  overflow: scroll;
}

#container::-webkit-scrollbar {
  width: 10px;
}

#post {
  width: 600px;
  margin: auto;
  margin-bottom: 20px;
  background-color: #aec446;
  padding: 10px;
  border-width: 3px 7px 9px 3px;
  border-radius: 7px;
  border-color: rgb(30, 73, 5);
  border-style: solid;
}

#topic-title {
  font-size: 35px;
  color: #202020;
}

#thread-title::placeholder,
#edit-title::placeholder,
textarea::placeholder {
  color: #077010;
}

#topic-prev {
  font-size: 25px;
  color: #202020;
}

/*Página Create :*/
#thread-title,
#edit-title {
  width: 700px;

  padding: 15px;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 20px;
  color: rgb(22, 87, 4);
  background-color: #6eb91e;
}

textarea {
  width: 700px;
  height: 200px;
  display: flex;
  padding: 15px;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 20px;
  color: rgb(22, 87, 4);
  background-color: #6eb91e;
}

#postBtn {
  margin-top: 10px;
  margin-left: 700px;
  width: 60px;
  height: 30px;
  background-color: rgb(26, 132, 7);
  color: white;
  border-radius: 6px;
  padding: 5px;
}

/*Página View: */

#topic-content {
  font-size: 30px;
  text-align: center;
  width: 650px;
  margin: auto;
  color: #90d14b;
}
