@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

body {
  margin: 0px;
  padding: 0px;
  
  background-color: #0b0014;
  color: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* General Configurations */
* {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

hr {
  width: 400px;
}

/* Navbar Estilization */

nav {
  


  background-image: linear-gradient(to right, #afc446, #ddf469);
  padding: 7px 35px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-width: 0px 0px 10px 0px;
  border-color: rgb(35, 212, 35);
  border-style: solid;

  height: 80px;
  

 

   & h3 {
    text-align: center;
    margin: auto;
    cursor: pointer;
    font-size: 24px;

    & a {
      color: #3c660e;
    }
  }


  & #greetings{
      color: #0B0014;
      font-size: 30px;
  }

  & input,
  button {
    height: 60px;
    margin-top: 10px;

  }

  & #searchbar {
    padding: 10px;
    font-size: larger;
    border-radius: 15px 7px 7px 15px;
    border-width: 3px;
    border-style: solid;
    border-color: #b3ff10;
    width: 600px;
    background-color: #13293d;
    color: #aec446;
    margin: auto;
  }

  #searchbar:focus{
    outline: none;
  }

  #searchbar::placeholder {
    color: #aec446;
  }

  & #searchBtn {
    border-radius: 9px;
    background-color: #13293d;
    width: 90px;
    border-left: -390px;
    border-color: #cbeb2e;
    box-shadow: #bddf13;
    font-size: 25px;
    color: #aec446;
  }
}

#closeButton {
  margin-left: 20px;
}

/* Left size Estilization */
#info {
  position: fixed;
  z-index: 10;
  font-size: 26px;
  font-weight: 700;
  margin-left: 10px;
  margin-top: 10px;
  color: #202020;
  background-color: #aec446;
  padding: 20px;
  border-radius: 10px;
  border-color: rgb(60, 151, 7);
  border-style: solid;
  border-width: 5px;
}


/* Main Page Estilization */

#aviso {
  width: 700px;
  margin: auto;
  margin-top: 160px;
  font-size: 35px;
  text-align: center;
  text-shadow: 2px 2px 4px #6ec40d;
  color: #0bf10b;
}

#warning-link {
  color: rgb(56, 255, 56);
  text-decoration: underline;
  cursor: pointer;
  transition: 1s;
}

#warning-link:hover {
  cursor: pointer;
  font-size: 37px;
  transition: 1s;
}

#topics-counter, #xp-counter {
  font-size: 27px;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 900;
  color: #4a570b;
  text-shadow: 1px 1px #6a953b;
}

/* Container and posts estilization */
#container {
  
  color: #000;
  padding: 50px;
  width: 100vw;
  height: 110vh;

  overflow-y: scroll;
   transition: padding 0.25s ease;
}

#container.scrolled{
  padding-bottom: 100px;
  margin-bottom: 30px;
}

#container::-webkit-scrollbar {
  width: 10px;
}

/* ESTILIZAÇÃO DO POST */

#post {
  width: 800px;
  
  margin: auto;
  margin-bottom: 20px;
  background-color: #aec446;
  padding: 10px;
  border-width: 5px ;
  border-radius: 7px;
  border-color: rgb(60, 151, 7);
  border-style: solid;
  color: #202020;
}

#topic-title {
  font-size: 35px;
  color: #202020;
}

#thread-title::placeholder,
#edit-title::placeholder,
textarea::placeholder {
  color: #077010;
}

#topic-prev {
  font-size: 25px;
  color: #202020;
}

/*Página Create :*/
#thread-title,
#edit-title {
  width: 700px;
  padding: 15px;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 20px;
  color: rgb(22, 87, 4);
  background-color: #6eb91e;
}

textarea {
  width: 700px;
  height: 200px;
  display: flex;
  padding: 15px;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 20px;
  color: rgb(22, 87, 4);
  background-color: #6eb91e;
}

#postBtn {
  margin-top: 10px;
  margin-left: 700px;
  width: 60px;
  height: 30px;
  background-color: rgb(26, 132, 7);
  color: white;
  border-radius: 6px;
  padding: 5px;
}

/*Página View: */

#topic-content {
  font-size: 30px;
  text-align: center;
  width: 900px;
  margin: auto;
  color: #90d14b;
}

#todo {
  float: right;
  position: fixed;
  display: flex;
  justify-content: end;
}



/* TESTESS:::  */
#pfp{
  margin-top: 5px;

  width: 60px;
  border-radius: 20%;
  background-color: #13293d;
  border-color: #0bf10b;
  border-style: solid;
  border-width: 3px;
}
