/* From Uiverse.io by adamgiebl */
button {
  background: #4bdd1e;

  padding: 3px;
  font-weight: 900;
  font-size: 20px;
  border: 3px solid rgb(35, 124, 18);
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em rgb(4, 30, 1);
  cursor: pointer;
  width: 80px;
  height: 50px;
  text-align: center;
  color: #144006;
  margin: 2px;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em rgb(1, 21, 5);
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}


button#createBtn {
  font-size: 1.5rem;
  color: #fafafa;
  text-transform: uppercase;
  padding: -20px;
  border-radius: 10px;
  border: 2px solid #17690b;
  background: #3bdb17;
  box-shadow: 3px 3px #228709;
  cursor: pointer;
  margin: 15px 0;
  margin-left: 30%;
  margin-top: 10px;
  
  color: rgb(61, 115, 25);
  
 

}

button#createBtn:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}


/* From Uiverse.io by kennyotsu */ 
.container {
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  background-color: #0b0014;
  background-image: radial-gradient(rgba(24, 8, 200, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
  overflow-y: scroll;
}