/* From Uiverse.io by adamgiebl */
button {
  background: #32b30a;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.tree-div {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: end;
  margin-top: -600px;
  margin-left: -140px;
}

.tree {
  position: relative;
  width: 55px;
  height: 55px;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(30deg);
  animation: treeAnimate 5s linear infinite;
}

@keyframes treeAnimate {
  0% {
    transform: rotateX(-20deg) rotateY(360deg);
  }

  100% {
    transform: rotateX(-20deg) rotateY(0deg);
  }
}

.tree div {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateY(calc(25px * var(--x))) translateZ(0px);
}

.tree div.branch span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #69c069, #77dd77);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  border-bottom: 5px solid #00000019;
  transform-origin: bottom;
  transform: rotateY(calc(90deg * var(--i))) rotateX(30deg) translateZ(28.5px);
}

.tree div.stem span {
  position: absolute;
  top: 110px;
  /* updated top value */
  left: calc(50% - 7.5px);
  width: 15px;
  height: 50%;
  background: linear-gradient(90deg, #bb4622, #df7214);
  border-bottom: 5px solid #00000019;
  transform-origin: bottom;
  transform: rotateY(calc(90deg * var(--i))) translateZ(7.5px);
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 150%;
  background: rgba(0, 0, 0, 0.4);
  filter: blur(20px);
  transform-style: preserve-3d;
  transform: rotateX(90deg) translateZ(-65px);
}



/* BOTÃO DO UIVERSE */
/* From Uiverse.io by levxyca */ 
button#createBtn {
  font-size: 1.5rem;
  color: #fafafa;
  text-transform: uppercase;
  padding: -20px;
  border-radius: 10px;
  border: 2px solid #17690b;
  background: #3bdb17;
  box-shadow: 3px 3px #228709;
  cursor: pointer;
  margin: 35px 0;
  margin-left: 30px;
  margin-top: 15px;
}

button#createBtn > a{
  color: rgb(61, 115, 25);
}

button#createBtn:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}
