/* From Uiverse.io by adamgiebl */
button {
  background: #32b30a;
  font-family: inherit;
  padding: 5px;
  font-weight: 900;
  font-size: 30px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  width: 80px;
  height: 60px;
  text-align: center;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}


button#createBtn {
  font-size: 1.5rem;
  color: #fafafa;
  text-transform: uppercase;
  padding: -20px;
  border-radius: 10px;
  border: 2px solid #17690b;
  background: #3bdb17;
  box-shadow: 3px 3px #228709;
  cursor: pointer;
  margin: 35px 0;
  margin-left: 100px;
  margin-top: 20px;
  color: rgb(61, 115, 25);

}

button#createBtn:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}
